@model HotelReservation.Models.Contact

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<br />
<br />
<br />
<br />
<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contactusid" />
            <div class="form-group">
                <label asp-for="Contactusname" class="control-label"></label>
                <input asp-for="Contactusname" class="form-control" />
                <span asp-validation-for="Contactusname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contactusemail" class="control-label"></label>
                <input asp-for="Contactusemail" class="form-control" />
                <span asp-validation-for="Contactusemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contactusdescription" class="control-label"></label>
                <input asp-for="Contactusdescription" class="form-control" />
                <span asp-validation-for="Contactusdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logintime" class="control-label"></label>
                <input asp-for="Logintime" class="form-control" />
                <span asp-validation-for="Logintime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
